{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Login</h1>
                <form method="POST" action="{{ url_for('main.login') }}">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" required>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="showPassword" onclick="togglePasswordVisibility('senha')">
                        <label class="form-check-label" for="showPassword">Mostrar Senha</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>
                <div class="text-center mt-3">
                    <p>Não tem uma conta? <a href="{{ url_for('main.cadastro') }}">Crie uma aqui</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}